$taccred: #bc2242;
$taccblue: #193062;
$white: #ffffff;
$black: #000000;
$borderColor: $black;
$default-border-radius: 3px;
$experimental-support-for-svg: true;

@mixin clearfix() {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}