@import "compass/css3";
@import "lib";

.vislab-reservation-portlet {

  .actions {
    h4 {
      margin: 0;
    }
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    &.reservation-list {
      li {
        padding: 0.25em 0;
        margin: 0 0 0.25em 0;

        .title {
          font-weight: bold;
          font-size: 1.2em;
        }
      }
    }

    &.resources {

      li {
        display: inline;

        &::after {
          content: ", \0020";
        }
        &:last-child::after {
          content: "";
        }
      }
    }
  }

  .reservation {
    dl {
      dt {
        font-weight: bold;
        float: left;
        clear: left;
        width: 150px;
      }

      dd {
        margin-left: 150px;
      }
    }
  }

  .ical {
    background-image: url(../images/date.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 0.25em 0 0.25em 18px;
    line-height: 16px;
    display: inline-block;
  }

  .back-link {
    background-image: url(../images/back.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 0.25em 0 0.25em 18px;
    line-height: 16px;
    display: inline-block;
  }

  .create {
    background-image: url(../images/add.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 0.25em 0 0.25em 18px;
    line-height: 16px;
    display: inline-block;
  }

  .edit-link {
    background-image: url(../images/edit.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 0.25em 0 0.25em 18px;
    line-height: 16px;
    display: inline-block;
  }

  .cancel-link {
    background-image: url(../images/delete.png);
    background-repeat: no-repeat;
    background-position: 0 50%;
    padding: 0.25em 0 0.25em 18px;
    line-height: 16px;
    display: inline-block;
  }

  .fc-agenda-slots td div {
    height: 30px;
  }

  .fc-widget-header {
    color: $taccblue;
    background-color: $white;
  }

  .fc-widget-content {
    background-color: $white;

    .fc-day-number {
      color: $taccblue;
    }

    &.fc-other-month {
      background-color: darken($white, 5%);
    }
  }

  a.fc-event {
    font-size: 1.1em;
    border: 1px solid $taccblue;
    color: $taccblue;
    background-color: lighten($taccblue, 65%);
    @include border-radius();

    &:hover {
      z-index: 10 !important;
      border-color: lighten($taccblue,10%);
      background-color: lighten($taccblue, 70%);
    }
  }

  .fc-event-time {
    font-weight: bold;
    border-color: $taccblue;
    border-style: solid;
    border-width: 0 0 1px;
    background-color: lighten($taccblue, 60%);
    @include border-radius(3px 3px 0 0);
  }

  form {

    fieldset {
      border: none;
      padding: 0;

      &.projects {
        display: none;
      }
    }

    legend {
      width: 90%;
      font-size: 1.3em;
      border-bottom: 1px solid #ccc;
      padding: 0.5em 0 0.1em;
      margin: 0 0 0.25em;
    }

    p {
      margin: 0 0 0.5em;
    }

    label {
      display: block;
      text-transform: uppercase;
      font-size: 0.9em;
      font-weight: normal;
      margin: 0.5em 0 0;
    }

    .resources label,
    .projects label {
      font-size: 1em;
      text-transform: none;
    }

    .required {
      label {
        font-weight: bold;
        &::after {
          content: "*";
          color: $taccred;
          font-size: 1.4em;
          vertical-align: middle;
        }
      }
    }

    .timezone-info {
      color: #666;
    }

    .dates {
      .datepicker {
        display: none;
      }
      .datetimepicker {
        display: inline;
      }
      .timezone-info {
        display: block;
      }

      &.all-day-set {
        .datepicker {
          display: inline;
        }
        .datetimepicker {
          display: none;
        }
        .timezone-info {
          display: none;
        }
      }
    }

    .datepicker {
      display: none; /* show date-time picker by default */
    }

    .description,
    .comment {
      textarea {
        resize: none;
      }
    }

    .description-length,
    .comment-length {
      width: 420px;
      text-align: right;
      color: lighten($black, 25%);

      &.warn {
        color: $taccred;
      }

      &.error {
        &::before {
          content: "OVER LIMIT! \0020";
        }
      }
    }

    .staff-options {
      background-color: rgba(0,0,0,0.05);
      padding: 0 1em 1em;
      margin: 0 0 1em;
      @include border-radius(2px);
      @include box-shadow(0 0 6px #999 inset);
    }

    .conflicts {
      display: none;
      padding: 0.5em;
      border: 2px solid $taccred;
      background-color: lighten($taccred, 50%);
      margin: 1em 0 0;
      @include border-radius(2px);

      ul.conflicts-list {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          .title {
            display: block;
            font-size: 1.1em;
            font-weight: bold;
            border-bottom: 1px solid #333;

            a {
              text-decoration: none;
              color: $taccred;
            }
          }

          dl {
            margin: 0 0 1em;
            dt {
              font-weight: bold;
              float: left;
              clear: left;
              width: 85px;
            }
            dd {
              margin-left: 85px;

              .resource {
                &::after {
                  content: ", \0020";
                }
                &:last-child::after {
                  content: "";
                }
              }
            }
          }
        }
      }
    }
  }

  .calendar-tooltip {
    position: absolute;
    max-width: 350px;
    display: none;
    font-size: 1.1em;
    padding: 0.5em;
    color: $taccblue;
    border: 2px solid $taccblue;
    z-index: 11;
    background-color: $white;

    @include border-radius();
    @include box-shadow(3px 3px 12px);

    div {
      margin-bottom: 0.5em;
    }

    .title {
      font-weight: bold;
      color: $white;
      background-color: $taccblue;
      margin: -.5em -.5em .25em;
      padding: .25em .5em;
    }

    dl {
      dt {
        &::after {
          content: ":";
        }
      }
      dd {
        margin: 0 0 0.25em;

        ul {
          margin: 0;
          padding: 0;
          list-style: none;

          li {
            display: inline;

            &::after {
              content: ", \0020";
            }
            &:last-child::after {
              content: "";
            }
          }
        }
      }
    }
  }

  .subscribe-dialog {
    display: none;
  }
}

.ui-widget.ui-dialog {
  font-size: 1.25em;
  @include box-shadow(3px 3px 12px);
}

.ui-widget.ui-datepicker {
  font-size: 1.25em;
  @include box-shadow(3px 3px 12px);

  dl {
    dt {
      font-size: 1.25em;
    }

    .ui_tpicker_time {
      font-size: 1.25em;
      font-weight: bold;
    }
  }

  .ui-timepicker-div button {
    &.ui-corner-right {
      @include border-radius(0 2px 2px 0);
    }

    &.ui-corner-left {
      @include border-radius(2px 0 0 2px);
    }
  }
}

.ui-autocomplete {
  max-height: 250px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
}

.dataTables_wrapper {
  overflow: hidden;
}
