{{#reservation}}

	{{#owner}}
	<p>Dear {{firstName}} {{lastName}},</p>
	{{/owner}}

	<p>This is a confirmation email for the TACC Vislab reservation you recently created.</p>

	<p>Reservation details:</p>

	<dl>
		<dt>Title</dt>
		<dd>{{title}}</dd>

		<dt>Description</dt>
		<dd>{{description}}</dd>

		<dt>Dates</dt>
		<dd>{{startDate}} - {{endDate}}</dd>

		<dt>Resources</dt>
		<dd>
			<ul>
				{{#resources}}<li>{{name}}</li>{{/resources}}
			</ul>
		</dd>

		<dt>Estimated attendees</dt>
		<dd>{{totalAttendees}}</dd>
	</dl>
{{/reservation}}

<p>You can view this reservation online here: <a href="{{reservationUrl}}">{{reservationUrl}}</a></p>

<p>Regards,</p>

<p>TACC Vislab Staff</p>