{{#reservation}}
	<p>Dear Vislab Staff,</p>

	{{#owner}}
	<p>
		This is a notification that a Vislab reservation has been made for {{firstName}} {{lastName}} ({{email}}).  This user has requested that TACC Vislab Staff be present for assistance.
	</p>
	{{/owner}}

	<p>Reservation details:</p>

	<dl>
		<dt>Title</dt>
		<dd>{{title}}</dd>

		<dt>Description</dt>
		<dd>{{description}}</dd>

		<dt>Dates</dt>
		<dd>{{startDate}} - {{endDate}}</dd>

		<dt>Resources</dt>
		<dd>
			<ul>
				{{#resources}}<li>{{name}}</li>{{/resources}}
			</ul>
		</dd>

		<dt>Estimated attendees</dt>
		<dd>{{totalAttendees}}</dd>
	</dl>
{{/reservation}}

<p>You can view this reservation online here: <a href="{{reservationUrl}}">{{reservationUrl}}</a></p>