{{#owner}}
	<p>Dear {{firstName}} {{lastName}},</p>
{{/owner}}

<p>This is a confirmation email that you recently cancelled your TACC Vislab reservation "{{title}}" for {{startDate}} - {{endDate}}.</p>

<p>Regards,</p>

<p>TACC Vislab Staff</p>