<p>Dear Vislab Staff,</p>

{{#requestor}}
	<p>
		This is a notification that a user {{firstName}} {{lastName}} ({{email}}) has submitted a request for training on TACC Vislab resources.
	</p>
{{/requestor}}

<p>Requested training date: <b>{{preferredDate}}</b></p>