{{#requestor}}
	<p>Dear {{firstName}} {{lastName}},</p>
{{/requestor}}

<p>
	This is a confirmation of your recent request for training for the TACC Vislab.  TACC Vislab Staff will review all training requests and schedule a training sessions accordingly.  Please watch the TACC Vislab Calendar for updates and upcoming training sessions.
</p>

<p>Your requested training date: <b>{{preferredDate}}</b></p>

<p>Regards,</p>

<p>TACC Vislab Staff</p>